.contact-texts {
    text-align: center;
    overflow-x: hidden;

}

.contact-texts h4 {
    font-family: Crimson Text;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;

}

.contact-texts p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 0px;

}

.contact-form label {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 0px;

}
.contact-div {
    background: #FFFFFF;
    padding-top: 20px;
}

.contact-data {
    text-align: center;
    width: 335px;
    margin: 0 auto;
}

.form-ip {
    text-align: start;
    margin: 0 auto;
    width: 335px;
    margin-top: 20px;
    margin-bottom: 20px;
}
input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border-width: 1px;
    background-color: #EEEEEE;

}

.contact-btn {
    width: 335px;
    height: 48px;
    border-radius: 5px;
    background-color: #212529;
    color: #FFFFFF;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 60px;
}

.msg {
    height: 140px;
}

textarea {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border-width: 1px;
    background-color: #EEEEEE;
}


.contact-form {
    position: relative;
}

.custom-alert-overlay {
    position: absolute;
    top: 10%;
    left: 30%;
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.custom-alert {
    background-color: #d4edda;
    color: #155724;
    padding: 20px 30px;
    border: 1px solid #c3e6cb;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    width: 400px;
    text-align: center;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 12px;
    cursor: pointer;
    font-size: 30px;
    color: #155724;
    font-weight: bold;
}

.close-btn:hover {
    color: #721c24;
}



@media (min-width: 768px) {
    .contact-texts h4 {
        font-size: 36px;
    }

    .contact-texts p {
        font-size: 24px;
    }

    .contact-data {
        width: 500px;
    }

    .form-ip {
        width: 500px;
    }

    .contact-btn {
        width: 500px;
    }
    .custom-alert-overlay {
        width: 70%;
        left: 15%;
    }
}


    @media (min-width: 1024px) {

        .contact-data {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 1180px;
        }
        
        .contact-form {
            grid-row: 1;
            position: relative;
            top: 0.5rem;
        }

        .custom-alert-overlay {
            width: 50%;
            left: 25%;
            height: 50%;
        }

}