body {
    overflow-x: hidden;
}

.mansits {
    padding-top: 60px;
    background-color: #FFFFFF;
}

.mansits-img {
    text-align: center;
    
}


.mansits-texts{
    width: 335px;
    margin: 0 auto;
}

.mansits-texts p {
    text-align: justify;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    letter-spacing: 0px;
    color: #21252980;

}

.mansits-button {
    width: 170px;
    height: 48px;
    border-radius: 5px;
    margin-left: 0px;
    font-size: 20px;
    margin-top: 25px;
    border: none;
    background-color: black;
    margin-bottom: 40px;
    color: #FFFFFF;
    
}

@media (min-width: 768px) {
   .mansits {
    max-width: 1175px;
    margin: 0px ;
   }
}



@media (min-width: 1024px) {

    .mansits {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 100%;
    }

    .mansits-texts {
        width: 470px;
        text-align: start;
    }

    .mansits-text-btn-div {
        grid-column: 1;
        grid-row: 1;
        max-width: 470px;
        margin: 0 auto;
    }

    .mansits-button {
        margin-left: 0px;

    }

    .mansits-img {
        grid-column: 2;
    }

    .mansits-button-div {
        grid-column: 1;
        margin-left: 25px;
    }
}